<div class="container jadwal">
  <h6><strong>Jadwal Kebaktian Minggu</strong></h6>
  <h5><strong>HKBP Reformanda Ressort Bandung Tengah</strong></h5>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <p class="jadwal">Kebaktian Pagi<br/>(Bahasa Indonesia)</p>
      <p class="waktu">07 : 30 WIB</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <p class="jadwal">Kebaktian Siang<br/>(Bahasa Batak)</p>
      <p class="waktu">09 : 30 WIB</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <p class="jadwal">Kebaktian Sore/Pemuda<br/>(Bahasa Indonesia)</p>
      <p class="waktu">17 : 00 WIB</p>
    </div>
    <p class="col-lg-12 col-md-12 col-sm-12 jadwal">
      *Informasi lebih lengkap dan (apabila ada) perubahan jadwal, dapat dilihat langsung pada bagian <a [routerLink]="['/warta']">Warta Jemaat</a>
    </p>
  </div>
</div>
<hr>
<div class="container">
  <h3 class="kategorial"><strong>Kegiatan Sektor dan Kategorial HKBP Reformanda</strong></h3>
  <div class="kategorial">
    <ul *ngFor="let k of kategorial">
      <li class="kategori" [ngStyle]="{'background-image': 'url(' + k.thumbnail + ')'}">
        <span class="kategori-text">
          {{ k.nama }}
        </span>
      </li>
    </ul>
  </div>
</div>
