div.jadwal, .jadwal > div {
  margin-top: 25px;
}

.jadwal > h5, h6 {
  margin: 0;
  text-align: center;
}

p.jadwal, p.waktu {
  text-align: center;
  font-weight: bold;
}

p.waktu {
  font-family: "Montserrat", "Nunito", sans-serif;
  font-size: larger;
}

.link-warta {
  color: var(--palette-D1);
}
