<div class="container popup-form">
  <div class="row">
    <h4 class="form-title">{{ formTitle }}</h4>
  </div>
  <hr>
  <form [formGroup]="renunganForm">
    <div class="container">
      <div class="form-group">
        <label for="inputTanggal">
          Tanggal Renungan:*&nbsp;
          <span *ngIf="formErrors['tanggal']" class="form-error-message">{{ formErrors['tanggal'] }}</span>
        </label>
        <input type="date"
          formControlName="tanggal"
          id="inputTanggal"
          (focus)="releaseFormErrors(['tanggal'])"
          class="form-control"
          [ngClass]="formErrors['tanggal'] ? 'form-error-border' : null"
          [ngClass]="renunganForm.controls.tanggal.disabled ? 'read-only' : null"
          placeholder="DD/MM/YYYY">
      </div>
      <div class="form-group">
        <!-- TODO: Input nats ayat dengan dropdown-autocomplete -->
        <label for="inputNatsAyat">
          Nats Renungan:*&nbsp;
          <span *ngIf="formErrors['natsAyat']" class="form-error-message">{{ formErrors['natsAyat'] }}&nbsp;</span>
          <span *ngIf="formErrors['natsKalimat']" class="form-error-message">{{ formErrors['natsKalimat'] }}</span>
        </label>
        <input type="text"
          formControlName="natsAyat"
          id="inputNatsAyat"
          (focus)="releaseFormErrors(['natsAyat'])"
          class="form-control"
          [ngClass]="formErrors['natsAyat'] ? 'form-error-border' : null"
          [ngClass]="renunganForm.controls.natsAyat.disabled ? 'read-only' : null"
          placeholder="contoh: Kejadian 1: 1">
        <hr>
        <textarea rows="2"
          formControlName="natsKalimat"
          id="inputNatsIsi"
          (focus)="releaseFormErrors(['natsKalimat'])"
          class="form-control"
          [ngClass]="formErrors['natsKalimat'] ? 'form-error-border' : null"
          [ngClass]="renunganForm.controls.natsKalimat.disabled ? 'read-only' : null"
          placeholder="contoh: Pada mulanya Allah menciptakan langit dan bumi"></textarea>
      </div>
      <div class="form-group">
        <label for="inputIsi">
          Isi Renungan:*&nbsp;
          <span *ngIf="formErrors['content']" class="form-error-message">{{ formErrors['content'] }}</span>
        </label>
        <textarea rows="5"
          formControlName="content"
          id="inputIsi"
          (focus)="releaseFormErrors(['content'])"
          class="form-control"
          [ngClass]="formErrors['content'] ? 'form-error-border' : null"
          [ngClass]="renunganForm.controls.content.disabled ? 'read-only' : null"
          placeholder="contoh: Renungan kita hari ini mengingatkan kita...|Karena itu..."></textarea>
        <small id="inputIsiHelp" class="form-text text-muted">*Untuk pemisah paragraf gunakan karakter pipe "|" (di atas tombol enter).</small>
      </div>
      <div class="form-group">
        <label for="inputRefleksi">
          Refleksi Renungan:*&nbsp;
          <span *ngIf="formErrors['refleksi']" class="form-error-message">{{ formErrors['refleksi'] }}</span>
        </label>
        <textarea rows="2"
          formControlName="refleksi"
          id="inputRefleksi"
          (focus)="releaseFormErrors(['refleksi'])"
          class="form-control"
          [ngClass]="formErrors['refleksi'] ? 'form-error-border' : null"
          [ngClass]="renunganForm.controls.refleksi.disabled ? 'read-only' : null"
          placeholder="contoh: Pekerjaanmu saat ini adalah ibadahmu, dan pengabdianmu."></textarea>
      </div>
      <div class="form-group">
        <label for="inputPenulis">Ditulis oleh:</label>
        <input type="text"
          formControlName="penulis"
          id="inputPenulis"
          class="form-control"
          [ngClass]="renunganForm.controls.penulis.disabled ? 'read-only' : null"
          placeholder="contoh: Pdt. Saut H. Sirait, M.Th.">
      </div>
      <div class="form-group">
        <label for="inputVideoUrl">Tautan video renungan:</label>
        <input type="text"
          formControlName="youtubeUrl"
          id="inputVideoUrl"
          class="form-control"
          [ngClass]="renunganForm.controls.youtubeUrl.disabled ? 'read-only' : null"
          placeholder="contoh: https://www.somewebsite.com/watch?v=zW91Xf0Hm-M">
      </div>
      <small id="formDisclaimer" class="form-text text-muted">*Kolom bertanda "*" harus diisi.</small>
    </div>
  </form>
  <hr>
  <div class="form-footer">
    <button type="button" class="btn btn-lg btn-success form-button" (click)="submit()">{{ data.action == 'DELETE' ? 'Hapus' : 'Simpan' }}</button>
    <button type="button" class="btn btn-lg btn-danger form-button" (click)="cancel()">Batal</button>
  </div>
</div>
