.arsip-renungan {
  margin: 20px;
}

.arsip-renungan>ul {
  margin: 10px 0;
  padding: 0;
}

.arsip-renungan>ul>li {
  margin: 0;
  list-style: none;
}

.list-renungan {
  text-align: left;
  cursor: pointer;
}
