.arsip-renungan {
  margin: 20px;
}

.list-renungan {
  padding: 0;
  list-style: none;
  text-align: left;
  cursor: pointer;
}

ul.list-renungan, li.list-renungan {
  margin: 10px 0;
}
