footer {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--palette-D1);
  color: var(--palette-L1);
}

p {
  padding-top: 15px;
  text-align: center;
}
