h5 {
  margin-top: 15px;
}

.nats-renungan {
  text-align: justify;
}

.nats-ayat {
  text-align: right;
  font-weight: bold;
}

.nats-isi {
  text-align: justify;
  margin: 5px 0;
}

.content {
  margin-top: 10px;
  padding: 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  height: 64vh;
  overflow-y: scroll;
}

.nats-refleksi {
  text-align: center;
  font-weight: bold;
  font-size: 110%;
  margin-top: 15px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--palette-L2);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--palette-D2);
  border-radius: 10px;
}


@media (max-width: 768px) {
  .nats-ayat {
    text-align: left;
  }
}