h5 {
  margin-top: 15px;
}

.nats-renungan {
  text-align: justify;
}

.nats-ayat {
  text-align: right;
  font-weight: bold;
}

.nats-isi {
  text-align: justify;
  margin: 5px 0;
}

.nats-refleksi {
  text-align: center;
  font-weight: bold;
  font-size: 110%;
  margin-top: 15px;
}