<div class="container jadwal" @fadeDown>
  <ng-container *ngIf="events && events.length > 0; else noEvents">
    <div id="livestreamCarousel" class="carousel carousel-fade">
      <div class="carousel-inner">
        <ng-container *ngFor="let event of events; let i = index;">
          <div class="carousel-item" [ngClass]="{ 'active': i === currentCarousel }">
            <div class="livestream-content">
              <div class="livestream-border">
                <iframe width="640" height="480" frameborder="0" [src]=" event.url | safeUrl" allowfullscreen></iframe>
              </div>
            </div>
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ event.title }}&emsp;({{ event.startDate | date: 'HH:mm' }} - {{ event.endDate | date: 'HH:mm' }})</h5>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="events.length > 1">
        <div class="carousel-control-prev">
          <button type="button" class="btn btn-fw btn-carousel" (click)="prevCarousel()">
            <i class="fa fa-arrow-left"></i>
          </button>
        </div>
        <div class="carousel-control-next">
          <button type="button" class="btn btn-fw btn-carousel" (click)="nextCarousel()">
            <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #noEvents>
    <h6><strong>Jadwal Kebaktian Minggu</strong></h6>
    <h5><strong>HKBP Reformanda Ressort Bandung Tengah</strong></h5>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <p class="jadwal">Kebaktian Pagi<br/>(Bahasa Indonesia)</p>
        <p class="waktu">07 : 30 WIB</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <p class="jadwal">Kebaktian Siang<br/>(Bahasa Batak)</p>
        <p class="waktu">09 : 30 WIB</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <p class="jadwal">Kebaktian Sore/Pemuda<br/>(Bahasa Indonesia)</p>
        <p class="waktu">17 : 00 WIB</p>
      </div>
      <p class="col-lg-12 col-md-12 col-sm-12 jadwal">
        *Informasi lebih lengkap dan (apabila ada) perubahan jadwal, dapat dilihat langsung di&nbsp;
        <a [routerLink]="['/warta']"><span class="link-warta">Warta Jemaat</span></a>
      </p>
    </div>
  </ng-template>
</div>
