<div class="container">
  <div class="row">
    <h4 class="form-title">Unggah File Warta Jemaat</h4>
  </div>
  <hr>
  <form>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputTanggal">Tanggal Warta:</label>
          <input
            type="date"
            id="inputTanggal"
            class="form-control"
            [(ngModel)]="fileDate"
            [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="inputFileWarta">File Warta:</label>
          <div class="input-group">
            <div class="custom-file">
              <label class="custom-file-label" for="inputFileWarta">
                {{ pdfFile && pdfFile.name ? pdfFile.name : 'Pilih file (format: pdf)' }}
              </label>
              <input
                type="file"
                accept=".pdf"
                id="inputFileWarta"
                lang="in"
                class="custom-file-input"
                (change)="onFileInput($event.target.files)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      (click)="submit()"
      class="btn btn-block submit-button"
      *ngIf="this.fileDate && this.pdfFile">
      Unggah Warta
    </button>
  </form>
</div>
