<div class="container">
  <div class="row">
    <h4 class="form-title">Unggah File Warta Jemaat</h4>
  </div>
  <hr>
  <form>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputTanggal">Tanggal Warta:</label>
          <input type="date" id="inputTanggal" class="form-control">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="inputFileWarta">File Warta:</label>
          <div class="input-group">
            <div class="custom-file">
              <input type="file" accept=".pdf" class="custom-file-input" id="inputFileWarta" lang="in">
              <label class="custom-file-label" for="inputFileWarta">Pilih file (format: pdf)</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-block submit-button">Unggah Warta</button>
  </form>
</div>
