<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="history">
        <h2><strong>Tentang HKBP Reformanda</strong></h2>
        <div class="history-content" *ngFor="let p of history">
          <p>{{ p }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h4><strong>Informasi</strong></h4>
      <ul *ngFor="let item of info">
        <li>
          <i [class]="'fa ' + item.icon"></i>&nbsp;&nbsp;{{ item.content }}
        </li>
      </ul>
      <hr>
      <app-info-form></app-info-form>
    </div>
  </div>
  <div class="maps">
    <iframe width="100%" marginheight="0" height="400" frameborder="1" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.789226256394!2d107.63102799999996!3d-6.915785000000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e7cfc87ab1df%3A0x3fa1faab10ee2ce8!2sHKBP+Bandung+Reformanda!5e0!3m2!1sen!2sid!4v1432181838103"></iframe>
  </div>
</div>
