<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="history">
        <h2><strong>Tentang HKBP Reformanda</strong></h2>
        <div class="history-content" *ngFor="let p of history">
          <p>{{ p }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h4><strong>Informasi</strong></h4>
      <ul *ngFor="let item of info">
        <li>
          <i [class]="'fa ' + item.icon"></i>&nbsp;&nbsp;{{ item.content }}
        </li>
      </ul>
      <hr>
      <app-info-form></app-info-form>
    </div>
  </div>
</div>
