header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #34222e;
  color: #fee9d7;
}

.logo {
  margin: 0;
  padding: 0;
  padding-left: 15px;
  font-size: 50px;
  height: 9vh;
  cursor: pointer;
}

a, ul, li {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #fee9d7;
  list-style: none;
  text-decoration: none;
}

ul {
  margin-top: 15px;
  padding-right: 15px;
}

li {
  display: inline-block;
  margin: 0 25px;
}

.logo > i, a {
  transition: .3s ease-in;
}

.logo > i:hover, a:hover {
  color: #e2434b;
}

a.is-active {
  color: #f9bf8f;
}
