<div class="landing-box">
  <div class="landing-overlay">
    <div class="container">
      <div class="sambutan" *ngIf="count === 0" @fading>
        <img src="../../../assets/sambutan.jpeg" alt="person" class="avatar" />
        <div class="word">
          <h4>
            Gereja HKBP Bandung Reformanda<br/>
            Resort Bandung Tengah tetap setia<br/>
            untuk menjadi berkat bagi semua<br/>
            dengan Tritugas panggilannya koinonia,<br/>
            marturia dan diakonia.<br/>
          </h4>
          <h5>Pdt. Rory Sibarani</h5>
          <h6>(Pendeta Ressort HKBP Bandung Tengah)</h6>
        </div>
      </div>
      <div class="welcome" *ngIf="count === 2" @fading>
        <h1>HKBP Reformanda</h1>
        <h2>Ressort Bandung Tengah</h2>
        <h3>selamat datang</h3>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let link of links" class="col-lg-4 col-sm-12 icon-box">
    <i [class]="'link-icon gg ' + link.icon" (click)="navigate(link.path)"></i>
    <p class="link-icon">{{ link.text }}</p>
  </div>
</div>
