.landing-box {
  width: 100%;
  height: 450px;
  background-image: url("../../../assets/gereja.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.landing-overlay {
  background-color: rgba(226, 67, 75, 0.3);
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome {
  color: #fee9d7;
  text-shadow: 0 2px #e2434b;
}

.welcome > h1,
.welcome > h2 {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: bold;
  margin: 15px 0;
}

.sambutan {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.avatar {
  border-radius: 25px;
  max-width: 200px;
  margin: 20px;
}

.word > h4,
h5,
h6 {
  text-align: left;
  color: #fee9d7;
}

.word > h4 {
  font-weight: bold;
}
