.landing-box {
  width: 100%;
  height: 350px;
  background-image: url("../../../assets/gereja.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.landing-overlay {
  background-color: rgba(226, 67, 75, 0.3);
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.welcome {
  color: var(--palette-L1);
  text-shadow: 0 2px var(--palette-D2);
}

.welcome > h1,
.welcome > h2 {
  font-weight: bold;
  margin: 15px 0;
}

.sambutan {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.avatar {
  border-radius: 25px;
  max-width: 200px;
  margin: 20px;
}

.word > h4, h5, h6 {
  text-align: left;
  color: var(--palette-L1);
}

.word > h4 {
  font-weight: bold;
}

.row {
  font-size: 80px;
  margin: 10px 5%;
  padding: 0;
  width: 90%;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

i.link-icon,
p.link-icon {
  margin: 10px;
}

i.link-icon {
  padding: 10px;
  border-radius: 15px;
  color: var(--palette-L1);
  background-color: var(--palette-D2);
  transition: 0.3s ease-in;
  cursor: pointer;
}

i.link-icon:hover {
  color: var(--palette-D2);
  background-color: var(--palette-D1);
}

p.link-icon {
  text-align: justify;
  font-size: initial;
  font-weight: bold;
}

// Mobile device
@media (max-width: 805px) {
  .icon-box {
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
  }
}
