<div class="landing-box">
  <div class="landing-overlay">
    <div class="container">
      <div class="sambutan" *ngIf="count === 0" @fading>
        <img src="../../../assets/sambutan.jpg" alt="person" class="avatar" />
        <div class="word">
          <h4>
            Semoga HKBP Bandung Reformanda<br/>
            Ressort Bandung Tengah dapat menjadi<br/>
            tubuh Kristus yang hidup di tengah-<br/>
            tengah keberadaannya.
          </h4>
          <h5>Pdt. Horas M. Pakpahan, STh., MPd.</h5>
          <h6>(Pendeta Ressort HKBP Bandung Tengah)</h6>
        </div>
      </div>
      <div class="welcome" *ngIf="count === 2" @fading>
        <h1>HKBP Reformanda</h1>
        <h2>Ressort Bandung Tengah</h2>
        <h3>selamat datang</h3>
      </div>
    </div>
  </div>
</div>
<div class="home-icon">
  <ng-container *ngFor="let link of links">
    <li>
      <i [class]="'link-icon gg ' + link.icon" (click)="navigate(link.path)"></i>
      <p class="link-icon">{{ link.text }}</p>
    </li>
  </ng-container>
</div>