h3.kategorial {
  text-align: center;
  margin: 25px auto 30px;
}

div.kategorial {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

li, a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

div.kategori {
  width: 180px;
  height: 180px;
  border-radius: 15px;
  border: 1px solid var(--palette-D1);
  background-color: var(--palette-D1);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 180px 180px;
  opacity: 0.5;
  transition: 0.3s ease-out;
  cursor: pointer;
}

div.kategori:hover {
  width: 185px;
  height: 185px;
  border: none;
  opacity: 1;
}

p.kategori-text {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
