h3.kategorial {
  text-align: center;
  margin: 25px auto 30px;
}

div.kategorial {
  margin: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

li, a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

li.kategori {
  width: 180px;
  height: 180px;
  border: 1px solid #34222e;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  color: #fee9d7;
  background-color: green;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 180px 180px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.3s ease-out;
  cursor: pointer;
}
