<div class="container">
  <div class="row" *ngIf="listRenungan && listRenungan.length > 0; else noData">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <app-renungan-detail [renunganDetail]="detailRenungan"></app-renungan-detail>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
      <app-renungan-archive
        [listRenungan]="listRenungan"
        [youtubeUrl]="detailRenungan.youtubeUrl"
        (viewDetail)="viewDetail($event)">
      </app-renungan-archive>
    </div>
  </div>
  <ng-template #noData>
    <div class="empty-page">
      <h1>Data tidak ditemukan.</h1>
    </div>
  </ng-template>
</div>
