<div class="container">
  <div class="title">
    <h3>Warta Jemaat HKBP Reformanda</h3>
    <h4>Ressort Bandung Tengah</h4>
  </div>
  <div class="warta">
    <button type="button" class="btn btn-lg" (click)="downloadLatest()">
      Unduh warta terbaru
    </button>
    <h5>atau</h5>
    <button type="button" class="btn btn-lg" (click)="initSearchForm()">
      Cari dari arsip
    </button>
  </div>
</div>
<div class="container" *ngIf="showArchive" @fading>
  <form>
    <div class="form-group">
      <div class="row">

        <!-- TODO: Fix layout -->
        <form class="form-inline searchWartaForm" [formGroup]="searchForm" (ngSubmit)="searchArchive()">
          <div class="form-group mx-sm-3 mb-2">
            <select
              formControlName="year"
              class="form-control"
              id="selectYear">
              <option *ngFor="let y of yearSelect" [value]="y.value" [hidden]="!y.value">{{ y.label }}</option>
            </select>
          </div>
          <div class="form-group mx-sm-3 mb-2">
            <select
              formControlName="year"
              class="form-control"
              id="selectMonth">
              <option *ngFor="let m of monthSelect" [value]="m.value" [hidden]="!m.value">{{ m.label }}</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary mb-2" id="searchWarta">
            <i class="fa fa-search"></i>
          </button>
        </form>

      </div>
    </div>
  </form>
</div>
