<div class="container">
  <div class="login-container">
    <div class="login-box">
      <h4 class="login-header">Silakan log-in untuk meneruskan<br />sesi sebagai Administrator</h4>
      <hr>
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="inputUsername">
            User ID:&emsp;
            <span *ngIf="formErrors['user']" class="form-error-message">{{ formErrors['user'] }}</span>
          </label>
          <input type="email"
            class="form-control"
            id="inputUsername"
            formControlName="user"
            placeholder="User ID"
            (focus)="releaseFormErrors(['user'])"
            [ngClass]="formErrors['user'] ? 'field-error' : null">
        </div>
        <div class="form-group">
          <label for="inputPass">
            Password:&emsp;
            <span *ngIf="formErrors['pass']" class="form-error-message">{{ formErrors['pass'] }}</span>
          </label>
          <input type="password"
            class="form-control"
            id="inputPass"
            formControlName="pass"
            placeholder="Password"
            (focus)="releaseFormErrors(['pass'])"
            [ngClass]="formErrors['pass'] ? 'field-error' : null">
        </div>
        <small id="loginHelp" class="form-text text-muted">*Hubungi Tim IT Reformanda jika tidak mengetahui User ID dan Password Anda.</small>
        <hr>
        <button type="submit" class="btn btn-block btn-login">LOG-IN</button>
      </form>
    </div>
  </div>
</div>
