<div class="container popup-form">
  <div class="row">
    <h4 class="form-title">{{ formTitle }}</h4>
  </div>
  <hr>
  <form [formGroup]="kegiatanForm">
    <div class="container">

      <div class="form-group">
        <label for="inputTitle">
          Nama Kegiatan:*&nbsp;
          <span *ngIf="formErrors['title']" class="form-error-message">{{ formErrors['title'] }}</span>
        </label>
        <input type="text"
          formControlName="title"
          id="inputTitle"
          class="form-control"
          (focus)="releaseFormErrors(['title'])"
          [ngClass]="formErrors['title'] ? 'form-error-border' : null"
          [ngClass]="kegiatanForm.controls.title.disabled ? 'read-only' : null"
          placeholder="contoh: Sermon Gabungan Sektor">
      </div>

      <div class="form-group">
        <div class="form-group">
          <label for="inputType">
            Jenis Kegiatan:*&nbsp;
            <span *ngIf="formErrors['type']" class="form-error-message">{{ formErrors['type'] }}</span>
          </label>
          <!-- TODO: Fix issue where form cannot control selected value (on update & delete) -->
          <select
            formControlName="type"
            id="inputType"
            class="form-control"
            (ngModelChange)="releaseFormErrors(['type'])"
            [ngClass]="formErrors['type'] ? 'form-error-border' : null"
            [ngClass]="kegiatanForm.controls.title.disabled ? 'read-only' : null">
            <option
              *ngFor="let t of jenisKegiatan"
              value="{{ t.value }}"
              id="{{ 'select' + t.value }}"
              data-toggle="tooltip"
              data-placement="right"
              [title]="t.description">
              {{ t.label }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="inputTanggal">
          Tanggal Kegiatan:*&nbsp;
          <span *ngIf="formErrors['date']" class="form-error-message">{{ formErrors['date'] }}</span>
        </label>
        <input type="date"
          formControlName="date"
          id="inputTanggal"
          (focus)="releaseFormErrors(['date'])"
          class="form-control"
          [ngClass]="formErrors['date'] ? 'form-error-border' : null"
          [ngClass]="kegiatanForm.controls.date.disabled ? 'read-only' : null"
          placeholder="DD/MM/YYYY">
      </div>

      <div class="form-group">
        <label for="inputStart">
          Waktu Mulai:*&nbsp;
          <span *ngIf="formErrors['start']" class="form-error-message">{{ formErrors['start'] }}</span>
        </label>
        <input type="time"
          formControlName="start"
          id="inputStart"
          (focus)="releaseFormErrors(['start', 'invalidRange'])"
          class="form-control"
          [ngClass]="formErrors['start'] ? 'form-error-border' : null"
          [ngClass]="kegiatanForm.controls.start.disabled ? 'read-only' : null">
      </div>

      <div class="form-group">
        <label for="inputEnd">
          Waktu Berakhir:*&nbsp;
          <span *ngIf="formErrors['end']" class="form-error-message">{{ formErrors['end'] }}</span>
        </label>
        <input type="time"
          formControlName="end"
          id="inputEnd"
          (focus)="releaseFormErrors(['end', 'invalidRange'])"
          class="form-control"
          [ngClass]="formErrors['end'] ? 'form-error-border' : null"
          [ngClass]="kegiatanForm.controls.end.disabled ? 'read-only' : null">
      </div>
      <p class="form-error-message" style="text-align: center;" *ngIf="formErrors['invalidRange']">{{ formErrors['invalidRange'] }}</p>

      <div class="form-group">
        <label for="inputUrl">Tautan kegiatan daring:</label>
        <input type="text"
          formControlName="url"
          id="inputUrl"
          class="form-control"
          [ngClass]="kegiatanForm.controls.url.disabled ? 'read-only' : null"
          placeholder="contoh: https://www.somewebsite.com/watch?v=zW91Xf0Hm-M">
      </div>

      <small id="formDisclaimer" class="form-text text-muted">*Kolom bertanda "*" harus diisi.</small>
    </div>
  </form>
  <hr>
  <div class="form-footer">
    <button type="button" class="btn btn-lg btn-success form-button" (click)="submit()">{{ data.action == 'DELETE' ? 'Hapus' : 'Simpan' }}</button>
    <button type="button" class="btn btn-lg btn-danger form-button" (click)="cancel()">Batal</button>
  </div>
</div>
