.admin-header {
  width: 100%;
  margin: 25px 0;
  text-align: center;
}

.table>thead>tr>th,
.table>tbody>tr>td {
  vertical-align: middle;
}

th, td {
  padding: 7px;
  text-align: center;
}

.btn-table {
  padding: 3px 6px;
  font-size: 12px;
}

.popup-form {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-height: 70vh;
}

.form-title {
  margin: 15px auto;
  text-align: center;
}

.form-group {
  padding: 0;
  margin: 25px 0;
}

.form-footer {
  margin: 20px;
}

.form-button {
  min-width: 200px;
  margin-right: 50px;
}

.form-error-border {
  border: 2px solid var(--palette-D2);
}

.form-error-message {
  font-weight: bold;
  color: var(--palette-D2);
}

.read-only {
  cursor: no-drop;
  color: var(--palette-D2);
}
