html, body {
  height: 100%;
}

body {
  font-family: "Nunito", "Helvetica Neue", sans-serif;
  background-color: #fee9d7;
  color: #34222e;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}
